# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
package-lock.json

# IntelliJ IDEA settings
.idea
*.iml
*.log

# coverage reporter output
coverage

# dist
dist
typings
es
