# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# IntelliJ IDEA settings
.idea
*.iml
*.log

# coverage reporter output
coverage

# generated API docs
docs
